.arrow {
  font-size: 10px;
}
.item:hover {
  cursor: pointer;
  color: hsl(27, 98%, 56%);
  .arrow {
    rotate: 180deg;
  }
}

/* Tùy chỉnh Dropdown */
.ant-dropdown {
  top: 112.8px !important;
  /* CSS tùy chỉnh cho Dropdown */
}

/* Tùy chỉnh Menu items */
.ant-dropdown-menu-item {
  /* CSS tùy chỉnh cho mỗi menu item */
}

/* Tùy chỉnh khi hover vào menu item */
.ant-dropdown-menu-item:hover {
  .item:hover {
    cursor: pointer;
    color: hsl(27, 98%, 56%);
    .arrow {
      rotate: 180deg;
    }
  }
  /* CSS tùy chỉnh khi hover vào menu item */
}

/* Tùy chỉnh menu item được chọn */
.ant-dropdown-menu-item-selected {
  /* CSS tùy chỉnh cho menu item được chọn */
}

/* Tùy chỉnh khi hover vào menu */
.ant-dropdown-menu-root:hover {
  /* CSS tùy chỉnh khi hover vào menu */
  .item:hover {
    cursor: pointer;
    color: hsl(27, 98%, 56%);
    .arrow {
      rotate: 180deg;
    }
  }
}
