.item-header {
  cursor: pointer;
  color: white !important;
}
.item-active {
  cursor: pointer;
  color: hsl(27, 98%, 56%) !important;
}
.item-menu {
  cursor: pointer;
  color: black !important;
}
.arrow-menu {
  font-size: 10px;
  color: black;
  stroke: #000000;
  stroke-width: 30;
}
.arrow-active {
  stroke: #fd8421;
  stroke-width: 30;
  font-size: 10px;
  transform: rotate(180deg);
  color: #fd8421;
}
.arrow-header {
  font-size: 10px;
  color: white;
  stroke: #ffffff;
  stroke-width: 30;
}
.ant-dropdown {
  padding-top: 42.4px;
}
.custom-menu {
  display: grid;
  grid-template-columns: 250px 250px;
  padding: 40px !important;
}
.custom {
  display: grid;
  grid-template-columns: 250px;

  padding: 40px !important;
}
.hidden {
  display: none !important;
}
