.google {
    svg {
        border-radius: 100%;
        border-style: solid;
        padding: 4px
    }
}
.select {
    span {
        color: white !important;
    }
}
.select1 {
    span {
        color: black !important;
    }
}
.arrow2 {
    font-size: 10px;
    color: black;
    stroke: #000000;
    stroke-width: 30;
}
.arrow1 {
    font-size: 10px;
    color: white;
    stroke: #ffffff;
    stroke-width: 30;
}
