.images_drm {
    background-image: url(../../../../public/images/products/sigma_drm/Image-DRM.svg);
    background-size: 100% auto ;
    background-repeat: no-repeat;
}

.free_trial_border {
    border: 1px solid orange;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
 
}

.border_table {
    border-collapse: collapse;
    border: 1px solid #e6e0e0;
}

.border_list {
    border-collapse: collapse;
    border-bottom: 1px solid #e6e0e0;
    border-left: 1px solid #e6e0e0;
    border-right: 1px solid #e6e0e0;
}




