.bg_image {
    background-image: url(../../../../public/images/products/interactive/Image.png);
    background-size: 100% auto ;
    background-repeat: no-repeat
}

.border {
    border: 1px solid !important;
  }

.free_trial_border {
    border: 1px solid orange;
}
