.images {
    background-image: url(../../../../public/images/products/multi_cdn/Rectangle2816.png);
    background-size: contain ;
    background-repeat: round
}

.index {
    position: absolute;
}


