.trans {
  transition: transform 0.3s;
}

.trans:hover {
  transform: translateY(-5px);
}

.circle {
  left: -586px;
  top: -500px;
  position: relative;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  overflow: hidden;
}

.circle::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #fd841f;
  clip-path: circle(98.5% at 0 0);
  // transform: rotate(180deg);
}
